/* --- App.css --- */

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Adding a cool hover effect for our Navbar links */
.nav-item {
  transition: color 0.2s ease-in-out;
}

.nav-item:hover {
  color: #FFD700 !important; /* KGP Gold on hover */
}